body{
    font-family: Helvetica, sans-serif;
}
body h1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
.product{
    font-weight: bold;
}
.brushes h2, .frames h2, .paint h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.brushes h2{
    background-color: mediumspringgreen;
}
.frames h2{
    background-color: lightcoral;
}
.paint h2{
    background-color: skyblue;
}
div .price{
    font-weight: bold;
    color: blue;
}